@charset "utf-8";
/* CSS Document */
:root {
	--border:1px solid green;
}

@font-face{
	font-family: BelyBold;
	src: url("../font/Bely Bold.ttf");
	
	font-family: InterReg;
	src: url("../font/Interstate Regular.ttf");
	
	font-family: InterCondLight;
	src: url("../font/Interstate-LightCondensed.otf")
}

body{
	background-color: #F2F2F2;
	margin: 0px;
	display: flex;
	justify-content: center;
	background-color: #F2F2F2;
	border: var(--border);
}

.wrapp{
	display: flex;
	flex-direction: column;
	width: 1920px;
	border: var(--border);	
}
/*Estilos Tipografías*/
h1{ 
	/*Títulos principales*/
	font-family: BelyDisplay;
	font-size: 30px;
}
h2{ 
	/*Títulos secundarios*/
	font-family: BelyBold;
	font-size: 35px
}


/*Links*/
a{
	text-decoration-line: none;
}

/* Cabecera*/
header{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: #333333;
	widht: 1920px;
	height: 150px;
		
}

header .logo{
	margin-left: 75px;
	margin-top: 30px;
	
}

header .logo img{
	width: 100%;
}

header nav {
		border: var(--border);
	margin-top: 63px;
	
	
}

header nav li{
	font-family: "Bely Display";
	font-size: 30px;
	list-style: none;
	
}


/* apartado 2, apps */
.apptrabajos{
	display: flex;
}